/* CSS DE TARJETAS*/

.icon{
    font-family: "websymbolsregular"; /*para que  sustituya las letras por los simbolos*/
}

.card{
    float: left;
    width:205px ;
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;    
    overflow: hidden;  
    background: white;  
    margin: 22px;
    margin-top: 40px;
    cursor: pointer;
}

.card:last-child{/*a la ultima tarjeta */
    margin-right: 0px;/*le quito a la ultima tarjeta el margen derecho*/
}


/*estilo interior de las tarjetas */

.card .icon{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 0px  auto;
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: "trebuchetMS";
    font-size: 21px;
    font-weight: bolt;
    text-align: center;
    color:#005380;
}

.card .description{
    font-family: "trebuchetMS";
    text-align: center;
    color:#0370b9;
    font-size: 15px;


}